<template>
  <div class="card"> 
    <img :src="urlImg" alt="usuario" class="card-image">
      <div class="card-description">
        <div>
            <p>
                Nombres: {{nombres}}
            </p>
        </div>
        <div>
            <p>
                Apellidos: {{apellidos}}
            </p>
        </div>
         <div>
            <p>
                Ciclo Relativo: {{cicloRelativo}}
            </p>
        </div>
        <div>
            <p>
                Código: {{codigo}}
            </p>
        </div>
        <div>
            <p>
                Especialidad: {{especialidad}}
            </p>
        </div>
        <div>
            <p>
                Facultad: {{facultad}}
            </p>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name:"Card",
    props:{
        nombres: String,
        apellidos: String,
        cicloRelativo:Number,
        urlImg: String,
        codigo:String,
        especialidad:String,
        facultad: String
    }

}
</script>

<style lang="scss">
    .card{
       display: flex;
       flex-direction: row;
       border: 2px red solid;
       border-radius: 15px;
       .card-image{
           display: flex;
           flex-direction: row; 
           flex-basis: 20%;
       }
       .card-description{ 
           display: flex;
           flex-direction: column;
           justify-content: center;
           flex-basis: 80%;
       }
    }
</style>