<template>
  <div>
      {{salida}}
  </div>
</template>

<script>
export default {
    name:"Output",
    data(){
        return {
                salida:"Hola Mundo"
        }
       
    }

}
</script>

<style>

</style>