<template>
    <div class="app">
       <app-card
        :nombres="'Juan'"
        :apellidos="'Alva'"
        :cicloRelativo="10"
        :urlImg="'https://todonoticiasdigital.com/wp-content/uploads/2019/12/636098.jpg'"
        :codigo="'2025001H'"
        :especialidad="'Facultad'"
        :facultad="'Especialidad'"
        />
    </div>
</template>

<script>
import Card from "./components/Card.vue";

export default {

    name:'App',
    data(){
        return{
        
        }
    },
    components:{
       'app-card':Card
    },
    methods: {
        
    },
}
</script>

<style>
/* .app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
} */
</style>